<div class="input-group mt-3">
  <input id="urlText" type="text" class="form-control"readonly>
  <div class="input-group-append">
    <button id="copyUrl" class="btn btn-outline-secondary" type="button">Copy url</button>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a id="sendEmail" class="dropdown-item" href="#">Send by email</a>
    </div>
  </div>
</div>
