<!DOCTYPE html>
<html>
  <%- include('meta', { title, script }); -%>
  <body>
    <%- include('header'); -%>

    <p>Prompt:</p>
    <textarea id="prompt"></textarea>
    <button id="create">Create an Exchange</button>
    <%- include('footer'); -%>
  </body>
</html>
